.about-shadow{
    @apply flex justify-center items-center w-full h-full absolute top-0 left-0 
    bg-[rgba(0,0,0,0.3)] z-50
}
.about-content{
    @apply bg-white text-black p-4 mt-20 self-start max-w-xl mx-5 md:mx-0 z-50
}
.about-content h1, .about-content p, .about-content li{
    @apply text-sm md:text-base
}
.about-content:nth-child(1) button{
    @apply text-white bg-weather-primary px-3 py-2 my-2 rounded-md
}

/* transitionning */
.fadeOuterInfo-enter-active{
    animation: showOuterInfo 1s ease;
  }
.fadeOuterInfo-leave-active{
    animation: hideOuterInfo 1s ease;
}
.scaleInnerInfo-enter-active{
    animation: showInnerInfo 0.5s ease;
}
.scaleInnerInfo-leave-active{
    animation: hideInnerInfo 0.5s ease;
}

@keyframes showOuterInfo{
    0%{
        opacity: 0;
        z-index: 0;
    }
    100%{
        opacity: 1;
        z-index: 1000;
    }
}
@keyframes hideOuterInfo{
    0%{
        opacity: 1;
        z-index: 1000;
    }
    100%{
        opacity: 0;
        z-index: 0;
    }
}
@keyframes showInnerInfo{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes hideInnerInfo{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}